*{
	margin: 0%;
}
.navbar{
			background-color: green;
		}
		.navbar a{
			color: red;
			font-size: 30px;
			font-style: italic;
			text-decoration: none;
			margin-right: 8%;
			margin-left: 6%; 
		}